.form {
}

.form__inputs {
  margin-bottom: 4rem;
}

.form__buttons {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.form__control {
  &:not(:last-child) {
    margin-bottom: 4rem;
  }

  &--wide {
    flex: 1 0 42.5%;
  }

  .control-labeled {
    &:not(.form__control--wide) {
      max-width: 135px;
      min-width: 135px;
    }
  }
}

.form__inputs-group {
  display: flex;
  gap: 20px;
}
